{% extends 'base.html.twig' %}
{% import "component/_macro_card_spice.html.twig" as blabla %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h2>Test</h2>
    {{ blabla.cardSpice('red') }}
{% endblock %}