{% extends 'base.html.twig' %}

{% block title %}SpicyMatch - Présentation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container justify-content-center">
            <h2>Accueil</h2>
        </div>
    </div>
{% endblock %}