###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=CHANGE_ME_openssl_rand_hex_16
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@mysql:3306/spicymatch?serverVersion=10.4.11-Mariadb"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=1
###< symfony/messenger ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> sentry/sentry-symfony ###
SENTRY_DSN=
###< sentry/sentry-symfony ###

###> ads ###
ADS_ENABLED=false
ADS_PROVIDER=ethicalads
ADS_PUBLISHER_ID=
###< ads ###

###> altcha ###
ALTCHA_HMAC_KEY=CHANGE_ME_openssl_rand_hex_32
###< altcha ###
