###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/
.vscode/
public/uploads/spices/

migrations/

assets/build/images/*

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/asset-mapper ###
/public/assets/
/public/assets/tailwind.css
/assets/vendor/
###< symfony/asset-mapper ###

/node_modules/
/.yarn/
.yarn/
.pnp.cjs
.gitignore
.gitignore
.pnp.loader.mjs
yarn.lock
docs/*
TODO.txt
TODO_MAX.txt
.serena/*
