{% extends 'base.html.twig' %}

{% block title %}SpicymatchHistory index{% endblock %}

{% block body %}
    <h1>SpicymatchHistory index</h1>

    <turbo-frame id="history_frame_id">
        {% import "components/_macro_card_spicymatch.html.twig" as macroCardSpicyMatch %}

        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nombre d'épices</th>
                        <th scope="col">Epices</th>
                        <th scope="col">Favoris</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in spicymatch_histories %}
                        {% set spicesIds = history.spicesIds|split(',') %}

                        <tr style="vertical-align: baseline;">
                            <td>{{ history.createdAt ? history.createdAt|date('d/m/y H:i') : '' }}</td>
                            <td>{{ history.nbSpice }}</td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                    {% for spiceId in spicesIds %}
                                        {{ macroCardSpicyMatch.cardSpicyMatch(spices[spiceId], true) }}
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                    <input class="form-check-input mx-0 mt-2" type="checkbox" value="{{ history.id }}"
                                        {% if history.isFavorite %}
                                            checked
                                        {% endif %}
                                    >
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </turbo-frame>
{% endblock %}
