{% extends 'base.html.twig' %}
{% import "components/_macro_card_spice.html.twig" as macroCardSpice %}

{% block title %}SpicyMatch - Epices{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container justify-content-center">
            <h2>Présentation des épices</h2>
        </div>

        <div class="container">
            <turbo-frame id="spices_frame_id">
                {%  include "/components/_spices_filters.html.twig" %}

                <div class="d-flex flex-wrap justify-content-around align-items-center">
                    {% for spice in spices %}
                        <a href="{{ path('view_spice', {"id" : spice.id}) }}">
                            {{ macroCardSpice.cardSpice(spice) }}
                        </a>
                    {% endfor %}
                </div>
                <div class="container justify-content-around">
                    {{ knp_pagination_render(spices) }}
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}
