{% extends'@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="bg-gray-100 p-8 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Administration</h1>
        <p class="text-lg text-gray-600"></p>
    </div>

{% endblock %}
