{% extends 'base.html.twig' %}
{% import "component/_macro_card_spice_match.html.twig" as macroCardSpiceMatch %}

{% block title %}SpicyMatch{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container justify-content-center">
            <h2>Mélangeons des épices</h2>
        </div>
        <div class="container-fluid px-4">
            {# Faire en dessous de chaque épice une checkbox avec une requête ajax qui met à jour le reste des épices #}
            {# https://www.youtube.com/watch?v=25IqZbLYoK0 => 12:52 #}
            <form class="d-flex flex-wrap justify-content-around align-items-center" action="" id="matcher"
                    {{ csrf_token('matcher') }}>
                {% for spice in spices %}
                    {{ macroCardSpiceMatch.cardSpiceMatch(spice) }}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.onload = () => {
            addEventOnCards();
        }

        function addEventOnCards(){
            const MatcherForm = document.querySelector("#matcher");
            const Spices = MatcherForm.querySelectorAll("[data-spice-id]");

            Spices.forEach(element => {
                let checkBox = element.lastElementChild;

                checkBox.addEventListener('click', function () {
                    let arraySpice = [];

                    Spices.forEach(element => {
                        let checkBox = element.lastElementChild.checked;

                        if(checkBox){
                            arraySpice.push(element.getAttribute('data-spice-id'))
                        }
                    })

                    postJSON(arraySpice, "#matcher");
                })
            });
        }

        async function postJSON(data, form) {
            const MatcherForm = document.querySelector(form);

            try {
                const response = await fetch("{{ url('view_spicy_match') }}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                }).then(response =>{
                    let promise = response.json()

                    promise.then((cards) => {
                        MatcherForm.innerHTML = cards;
                        addEventOnCards();
                    })

                }).catch(e => alert(e));
            } catch (error) {
                console.error("Error:", error);
            }
        }
    </script>
{% endblock %}