{% extends 'base.html.twig' %}
{% import "component/_macro_card_spice_match.html.twig" as macroCardSpiceMatch %}

{% block title %}SpicyMatch{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container justify-content-center">
            <h2>Mélangeons des épices</h2>
        </div>

        {# GROUPE 1 #}
        {# TODO => Selectionner le groupe de l'épice choisie, trier sur ça pour la 1ere et l'afficher #}
        {# TODO => Faire le bouton Ajouter un groupe de mélange, (tout en prenant en compte les groupes fait auparavant) #}
        {# TODO => Réduire dans les groupes ajoutés les groupes actuellement utilisés #}
        {# TODO => Anticiper et bloquer quand on ne peut pas ajouter un groupe de plus (car plus de possibilité) #}

        <div class="container">
            <form action="" class="form-control rounded w-100 d-flex flex-wrap justify-content-evenly align-items-center">
                <div class="col m-2">
                    <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                        <option value="null" selected>Filtrer par groupe aromatique</option>
                        <option value="id1">Les terpènes chauds</option>
                        <option value="id2">Les aldéhydes fruités</option>
                    </select>
                </div>
                <div class="col m-2">
                    <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                        <option value="null" selected>Filtrer par composé aromatique</option>
                        <option value="id1">Les terpènes chauds</option>
                        <option value="id2">Les aldéhydes fruités</option>
                    </select>
                </div>
                <div class="col m-2">
                    <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                        <option value="null" selected>Filtrer par type d'épice</option>
                        <option value="id1">Les terpènes chauds</option>
                        <option value="id2">Les aldéhydes fruités</option>
                    </select>
                </div>
                <div class="col m-2">
                    <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                        <option value="null" selected>Filtrer par saveur</option>
                        <option value="id1">Les terpènes chauds</option>
                        <option value="id2">Les aldéhydes fruités</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="container-fluid px-4">
            {# Faire en dessous de chaque épice une checkbox avec une requête ajax qui met à jour le reste des épices #}
            {# https://www.youtube.com/watch?v=25IqZbLYoK0 => 12:52 #}
            <form class="d-flex flex-wrap justify-content-around align-items-center" action="" id="matcher"
                    {{ csrf_token('matcher') }}>
                {% for spice in spices %}
                    {{ macroCardSpiceMatch.cardSpiceMatch(spice) }}
                {% endfor %}
            </form>
        </div>

        {# AJOUTER UN GROUPE #}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.onload = () => {
            addEventOnCards();
        }

        function addEventOnCards(){
            const MatcherForm = document.querySelector("#matcher");
            const Spices = MatcherForm.querySelectorAll("[data-spice-id]");

            Spices.forEach(element => {
                let checkBox = element.lastElementChild;

                checkBox.addEventListener('click', function () {
                    let arraySpice = [];

                    Spices.forEach(element => {
                        let checkBox = element.lastElementChild.checked;

                        if(checkBox){
                            arraySpice.push(element.getAttribute('data-spice-id'))
                        }
                    })

                    postJSON(arraySpice, "#matcher");
                })
            });
        }

        async function postJSON(data, form) {
            const MatcherForm = document.querySelector(form);

            try {
                const response = await fetch("{{ url('view_spicy_match') }}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                }).then(response =>{
                    console.log(response)

                    let promise = response.json()

                    promise.then((cards) => {
                        if(cards.length === 0){
                            cards = '<div class="alert alert-warning" role="alert">Mauvaise pioche ! Aucune épice ne match, retente une autre combinaison.</div>'
                        }

                        MatcherForm.innerHTML = cards;
                        addEventOnCards();
                    })

                }).catch(e => alert(e));
            } catch (error) {
                console.error("Error:", error);
            }
        }
    </script>
{% endblock %}