{% extends 'base.html.twig' %}
{% import "components/_macro_modal_preparation_method.html.twig" as macroModalPreparationMethod %}

{% block title %}SpicyMatch{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container justify-content-center">
            <h2>Finalisation du mélange :</h2>
        </div>

        {{ component('SpicyMatchHistory', { 
            'spices': spices,
            'spicyMatch': spicyMatch
        })}}
    </div>
{% endblock %}