{% extends 'base.html.twig' %}
{% block title %}SpicyMatch{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container justify-content-center">
            <h2>YEAH</h2>
        </div>
    </div>
{% endblock %}