{% macro cardSpice(spice) %}
    {% set color = spice.aromaticGroups.color %}

    <div class="card-wrap">
        <div class="card shadow-{{ color |trim('#')|upper}}">
            {# spice.filename ? #}
            <div class="card-bg" style="background-image: url({{  vich_uploader_asset(spice, 'imageFile')}})"></div>
            <div class="card-info w-100">
                <h3 class="h1">{{ spice.name }}</h3>
                <p class="overflow-scroll" style="height: 50px;">{{ spice.description }}</p>
            </div>
        </div>
    </div>

{% endmacro %}