{% macro cardSpicyMatch(spice) %}
    {% set color = spice.aromaticGroups is defined and spice.aromaticGroups is not null
        ? spice.aromaticGroups.color
        : (spice.color is defined and spice.color is not null ? spice.color : '#CCCCCC') %}
    <div class="mb-3 mx-2 p-0">
        <div class="little-card-50h bg-dark shadow-{{ color|trim('#')|upper }}">
            {% set matchHistImg = vich_uploader_asset(spice, 'imageFile') %}
            <div class="card-bg rounded" style="background-image: url({{ matchHistImg ?: 'https://loremflickr.com/300/150/spice' }})"></div>
            <div class="text-color-white flex justify-center items-end h-full py-2">
                <h3 class="mb-0">{{ spice is iterable ? spice.name : spice.getLocalizedName(app.request.locale) }}</h3>
            </div>
        </div>
    </div>
{% endmacro %}
