<div class="container mx-auto px-4 py-4">
    <form class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div>
            <select class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par groupe aromatique</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
        <div>
            <select class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par composé aromatique</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
        <div>
            <select class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par type d'épice</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
        <div>
            <select class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par saveur</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
    </form>
</div>