<div class="container pt-0">
    <form action="" class="form-control rounded w-100 d-flex flex-wrap justify-content-evenly align-items-center">
        <div class="col m-2">
            <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par groupe aromatique</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
        <div class="col m-2">
            <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par composé aromatique</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
        <div class="col m-2">
            <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par type d'épice</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
        <div class="col m-2">
            <select class="form-select" name="sr_overstats" id="aromaticGroupMatch">
                <option value="null" selected>Filtrer par saveur</option>
                <option value="id1">Les terpènes chauds</option>
                <option value="id2">Les aldéhydes fruités</option>
            </select>
        </div>
    </form>
</div>