{% extends 'base.html.twig' %}

{% block title %}SpicymatchHistory{% endblock %}

{% block body %}
    <h1>SpicymatchHistory</h1>

    {# 
        - Avoir toutes les preparations + moment d'insertion (à quelle étape de la cuisson)
        - Un tableau chronologique avec les épices concernées par étapes
    #}
{% endblock %}
